USE [master]
GO
/****** Object:  Database [CAIXA]    Script Date: 12/11/2015 18:53:59 ******/
CREATE DATABASE [CAIXA] ON  PRIMARY 
( NAME = N'CAIXA', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CAIXA.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CAIXA_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CAIXA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAIXA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAIXA]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 12/11/2015 18:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[CODIGO] [int] NOT NULL,
	[PRODUTO] [varchar](150) NOT NULL,
	[MARCA] [varchar](150) NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[CATEGORIA] [varchar](50) NOT NULL,
	[DATAVALIDADE] [varchar](15) NOT NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VALORFINAL]    Script Date: 12/11/2015 18:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORFINAL](
	[VENDAID] [int] NOT NULL,
	[VALORFINAL] [decimal](18, 2) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENDA]    Script Date: 12/11/2015 18:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENDA](
	[VENDAID] [int] NOT NULL,
	[PRODUTOID] [int] NOT NULL,
	[DESCRICAO] [varchar](150) NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[VALORU] [decimal](18, 2) NOT NULL,
	[VALORT] [decimal](18, 2) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
